<!DOCTYPE html>
<html>
    <head>
        <nav>
              {% if 'user' in session %}
                {{ session['username'] }}
                <form action="/logout" method="post" id='logout'>
                  <input type="submit" value="Log Out" />
                </form>
                <a class=nav-item href='/blog'>Return to Home Page</a> | <a class=nav-item href='/newpost'>Add a Blog Post</a>
              {% else %}
                <a class=nav-item href='/login'>Login to Blogz</a> | <a class=nav-item href='/signup'>Create Account</a>
              {% endif %}
        </nav>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=error>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}


</body>
</html>