<!DOCTYPE html>
<html>
    <head>
        <nav>
        <a href='/blog'>Return to Home Page</a>
        <a href='/newpost'>Add a Blog Post</a>
        </nav>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=error>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}


</body>
</html>